@font-face {
  font-family: 'icons';
  src:  url('fonts/icons.eot?v4st8y');
  src:  url('fonts/icons.eot?v4st8y#iefix') format('embedded-opentype'),
    url('fonts/icons.ttf?v4st8y') format('truetype'),
    url('fonts/icons.woff?v4st8y') format('woff'),
    url('fonts/icons.svg?v4st8y#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic_arrow_down:before {
  content: "\e900";
}
.ic_arrow_left:before {
  content: "\e901";
}
.ic_arrow_right:before {
  content: "\e902";
}
.ic_back:before {
  content: "\e903";
}
.ic_continue:before {
  content: "\e904";
}
.ic_download:before {
  content: "\e905";
}
.ic_lock:before {
  content: "\e906";
}
.ic_map:before {
  content: "\e907";
}
.ic_moon:before {
  content: "\e908";
}
.ic_moon_full:before {
  content: "\e909";
}
.ic_next:before {
  content: "\e90a";
}
.ic_note:before {
  content: "\e90b";
}
.ic_pause:before {
  content: "\e90c";
}
.ic_play:before {
  content: "\e90d";
}
.ic_power:before {
  content: "\e90e";
}
.ic_star:before {
  content: "\e90f";
}
.ic_stop:before {
  content: "\e910";
}
.ic_upload:before {
  content: "\e911";
}
